<h2 class="title is-4">Channels</h2>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Webhook url</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= truncate channel.webhook_url %></td>
        <td width="2%">
          <%= link_to edit_channel_path(channel), class: 'button is-small' do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td width="2%">
          <%= link_to channel, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Channel', new_channel_path, class: 'button is-small' %>
