<%= form_with model: message, local: true, html: { name: 'message' } do |form| %>
  <%= render 'errors', object: message %>
  <div class="field">
    <div class="label">
      <%= form.label :title %>
    </div>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="label">
      <%= form.label :schedule %>
    </div>
    <div class="control">
      <%= form.text_field :schedule, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="label">
      <%= form.label :body %>
    </div>
    <div class="control">
      <%= form.text_area :body, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="label">
      <%= form.label :channel_id %>
    </div>
    <div class="select">
      <%= form.collection_select :channel_id, Channel.all, :id, :name %>
    </div>
  </div>
 <div class="field">
   <div class="control">
     <%= form.submit 'Submit', class: 'button is-link' %>
   </div>
 </div>
<% end %>
