<h2 class="title is-4">Messages</h2>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Schedule</th>
      <th>Body</th>
      <th>Channel</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.schedule %></td>
        <td><%= truncate message.body %></td>
        <td><%= message.channel.name %></td>
        <td width="2%">
          <%= link_to edit_message_path(message), class: 'button is-small' do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td width="2%">
          <%= link_to message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Message', new_message_path, class: 'button is-small' %>
